<div class="form-container" role="form">
    <h2 class="form-title">Weather Radar Live</h2>
    <p class="form-subtitle">Please provide us with your location</p>
    <form (ngSubmit)="submitForm()" class="form">
        <div class="input-group">
            <label for="city">City:</label>
            <!-- Use ngModel to bind the selected city to the component -->
            <select id="city" name="city" [(ngModel)]="city" class="form-control" aria-label="Select a city">
                <option value="" disabled selected>Select a city</option>
                <!-- Loop through cities array and create options for each city -->
                <option *ngFor="let cityName of cities" [value]="cityName">{{ cityName }}</option>
            </select>
        </div>
        <div class="button-group">
            <button type="submit" class="btn btn-primary" aria-label="Submit form">Submit</button>
        </div>
    </form>
</div>
<div *ngIf="weatherData">
    <h3>{{ weatherData.message }}</h3>
    <div *ngIf="!weatherData.error">
        <table class="weather-table">
            <tr>
                <th>City</th>
                <th>Temperature (°C)</th>
                <th>Humidity (%)</th>
                <th>Wind gust (km/h)</th>
            </tr>
            <tr>
                <td>{{ weatherData.weather.City }}</td>
                <td>{{ weatherData.weather.Temperature }}</td>
                <td>{{ weatherData.weather.Humidity }}</td>
                <td>{{ weatherData.weather['Wind gust'] }}</td>
            </tr>
        </table>
    </div>
    <div *ngIf="weatherData.error">
        <p>Error: {{ weatherData.error }}</p>
    </div>
</div>