.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right, #0000FF, #FF0000);
    background-image: -o-linear-gradient(right, #0000FF, #FF0000);
    background-image: -moz-linear-gradient(right, #0000FF, #FF0000);
    background-image: -webkit-linear-gradient(left, #0000FF, #FF0000);
    background-blend-mode: multiply;
}

.logo img {
    max-width: 50px;
    height: 40px;
    float: left;
    padding-left: 10px;
}

.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-items li {
    margin-right: 20px;
    list-style-type: none;
    float: left;
    padding: 15px 20px;
    color: #FFFFFF;
    font-family: 'Georgia';
}

.menu-items li:last-child {
    margin-right: 0;
    list-style-type: none;
    float: left;
    padding: 15px 20px;
    color: #FFFFFF;
    font-family: 'Georgia';
}

.menu-items li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu-items li a:hover {
    color: #1E324A;
}

/* For screens smaller than 600px (typical smartphones) */
@media only screen and (max-width: 600px) {
    .menu-container {
        flex-direction: column;
        height: auto;
        padding-top: 10px;
    }

    .logo img {
        margin-bottom: 10px;
    }

    .menu-items {
        flex-direction: column;
    }

    .menu-items li {
        margin-right: 0;
        padding: 10px 0;
        text-align: center;
    }
}