<div style="background-color: rgb(252, 248, 242);">
    <app-menu-bar></app-menu-bar>
    <div style="margin-top: 20px; margin-bottom:5px; background-color: rgb(252, 248, 242);">
        <app-current-location></app-current-location>
    </div>

    <div style="margin-top: 10px; background-color: rgb(252, 248, 242);">
        <app-application-form></app-application-form>
    </div>

    <div style="margin-top: 20px; background-color: rgb(252, 248, 242);">
        <app-map-representation></app-map-representation>
    </div>

    <div style="margin-top: 10px; background-color: rgb(252, 248, 242);">
        <app-footer></app-footer>
    </div>
</div>